<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.PageTitle}}</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>{{.PageTitle}}</h1>  
        <table style="border: 1px solid black;">
        {{ range .Services }}
        <tr>
          <td style="border: 1px solid black;">{{ .Name }}</td>
          <td style="border: 1px solid black;"><a href="{{ .Url }}" target="_blank">{{ .Url }}</a></td>
          <td style="border: 1px solid black;"><a href="{{ if .Locked }}unlock/{{ .Name }}">🔒{{ else }}lock/{{ .Name }}">✅{{ end }}</a></td>
        </tr>
        {{ end }}
        </table>
        <p>version {{.Version}}</p>
        <p>Updates on <a href="https://x.com/thembeddevguy">X/twitter</a> and <a href="https://patreon.com/thedeveloperguy">Patreon</a></p>
        <p>If you are super bored,  <a href="https://youtube.com/thedeveloperguy">watch my stuff on YouTube</a></p> 
        <p>Széjm in Inglis, <a href="https://youtube.com/vault1337">avagy magyar csatornám meg a Vault 1337</a></p>
    </main>
  </body>
</html>